@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* global styles started */

:root{
  --colorOne: rgba(90, 30, 130, 1);
  --ColorTwo: rgba(255, 195, 255, 1);
  --colorThree: rgba(255, 88, 255, 1);
  --lightColor: rgba(255, 255, 255, 1);
  --boxShadow: 0 0 8px rgba(20, 20, 20, 0.4);
}

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Work Sans", sans-serif;
  color: var(--colorOne);
  width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}

h2{
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0px;
}

.btn{
  padding: 12px 15px;
  background-color: var(--lightColor);
  color: var(--colorOne);
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  box-shadow: var(--boxShadow);
  transition: 0.3s;
}

.btn:hover{
  background-color: var(--colorThree);
  color: var(--lightColor);
}

.paragraph{
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

/* global styles ended */

/* nav section styles started */
#nav{
    background-color: var(--colorOne);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #nav_container{
    width: 1300px;
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #nav_container #logo h3{
    color: var(--lightColor);
    font-size: 30px;
  }
  
  
  #nav_container #logo h3 span{
    font-style: italic;
    color: var(--colorThree);
  }
  
  #nav_container #main_menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #nav_container #main_menu ul li{
    padding: 10px;
    list-style: none;
  }
  
  #nav_container #main_menu ul li a{
      text-decoration: none;
      color: var(--lightColor);
      font-size: 18px;
      font-weight: 400;
      padding: 10px 15px;
      border-radius: 7px;
      box-shadow: var(--boxShadow);
      transition: 0.3s;
    }
    
    #nav_container #main_menu ul li a:hover{
        padding: 15px 25px;
        font-size: 18px;
        font-weight: 600;
        color: var(--colorOne);
        background-color: var(--colorThree);
    }
    
  #nav_container .resume_pdf button:hover{
    background-color: var(--colorThree);
    color: var(--lightColor);
  }
  /* nav section styles ended */

  /* hero section styles started */
#hero_container{
    background-color: var(--ColorTwo);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #hero_container #hero{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 70px;
  }
  
  #hero_container #hero #hero_info{
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #hero_container #hero #hero_info h1{
    font-size: 90px;
    color: var(--colorOne);
  }
  #hero_container #hero #hero_info h1 span{
    color: var(--colorThree);
    font-family: "Permanent Marker", cursive;
    font-size: 85px;
    text-transform: uppercase;
  }
  
  #hero_container #hero button{
    background-color: var(--colorOne);
    color: var(--lightColor);
  }
  #hero_container #hero button:hover{
    background-color: var(--lightColor);
    color: var(--colorOne);
  }
  #hero_container #hero #hero_img{
    width: 480px;
  }
  
  #hero_container #hero #hero_img img{
    width: 100%;
    border-radius: 30px;
    box-shadow: var(--boxShadow);
  }
  /* hero section styles ended */

  /* skills section styles started */
#skills_section{
    background-color: var(--colorOne);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #skills_section #mySkills{
    width: 1200px;
    display: flex;
    padding: 50px 20px;
    align-items: center;
    justify-content: space-between;
  }
  
  #skills_section #mySkills .skills_col{
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--lightColor);
  }
  
  #skills_section #mySkills .skills_col span{
    font-size: 25px;
  }
  #skills_section #mySkills .skills_col h2{
    font-size: 45px;
  }
  #skills_section #mySkills .skills_col button{
    padding: 12px 35px;
  }
  
  #skills_section #mySkills .skills_col ul li{
    font-size: 18px;
    line-height: 30px;
    list-style:square;
  }
  /* skills section styles ended */

  /* portfolio section styles started */
#portfolio_section{
    background-color: var(--colorOne);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed var(--ColorTwo);
  }
  
  #portfolio{
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 70px;
    gap: 50px;
  }
  
  #portfolio #Portfolio_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 600px;
    text-align: center;
  }
  #portfolio #Portfolio_head h3{
    font-size: 50px;
    color:var(--lightColor);
  }
  #portfolio #Portfolio_head p{
    color:var(--lightColor);
  }
  #portfolio #portfolio_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  
  #portfolio #portfolio_card .pf_card_design{
    width: 340px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: var(--boxShadow);
    padding-bottom: 20px;
    background-color: var(--lightColor);
    
  }
  
  #portfolio_card .pf_card_design .pf_img img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  #portfolio #portfolio_card .pf_card_design h4{
    font-size: 20px;
    color: var(--colorOne);
  }
  #portfolio #portfolio_card .pf_card_design p{
    color: var(--colorOne);
    font-size: 16px;
    font-weight: 500;
  }
  
  #portfolio_foot{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 10px 0px;
  }
  
  #portfolio_foot h3{
    color: var(--lightColor);
    font-size: 55px;
    font-weight: 800;
  }
  #portfolio_foot p{
    color: var(--lightColor);
  }
  /* portfolio section styles ended */

  /* about section styles started */
#about_section{
    background-color: var(--ColorTwo);
    padding: 50px;
  }
  
  #about_container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  
  #about_container .about_content{
    width: 700px;
    background-color: var(--colorOne);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    color: var(--lightColor);
  }
  
  #about_container .about_content span{
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
  }
  
  #about_container .about_content p{
    font-size: 18px;
    font-weight: 600;
  }
  #about_container .about_content img{
    width: 30px;
    margin: 5px 10px 0px 0px;
  }
  
  
  #about_container .counter{
    margin-bottom: 30px;
    display: flex;
    gap: 150px;
  }
  
  #about_container .counter span{
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: var(--colorOne);
  }
  #about_container .counter p{
    font-size: 80px;
    font-weight: 800;
    color: var(--colorThree);
  }
  
  #about_container .counter .margin{
    margin-bottom: 40px;
  }
  
  #about_container .awards_content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  
  #about_container .awards_content h2{
    color: var(--colorOne);
    font-size: 50px;
    font-weight: 800;
  }
  /* about section styles ended */

  /* client section styles started */
#client_section{
    background-color: var(--colorOne);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
  }
  
  #client_section > h2{
    color: var(--lightColor);
    margin-bottom: 30px;
  }
  
  #client_items{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  #client_items .client_card{
    background-color: var(--lightColor);
    width: 395px;
    border-radius: 30px;
    padding: 20px;
  }
  
  #client_items .client_card > span{
    display: block;
    color: var(--colorThree);
    font-size: 100px;
  }
  
  #client_items .client_card > p{
    margin-bottom: 30px;
  }
  
  #client_items .client_card .client_name{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  #client_items .client_card .client_name img{
    width: 100px;
    border-radius: 50%;
  }
  #client_items .client_card .client_name P{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  #client_items .client_card .client_name span{
    font-size: 16px;
    font-weight: 500;
  }
  /* client section styles ended */

  /* hire section styles started */
#hire_section{
    background-color: var(--ColorTwo);
    padding: 50px;
    box-sizing: border-box;
  }
  
  #hire_section .hire_container{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  
  #hire_section .hire_input{
    display: flex;
    gap: 10px;
  }
  
  #hire_section .hire_input input{
    width: 400px;
    height: 60px;
    box-sizing: border-box;
    padding: 20px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--colorOne);
    border-radius: 10px;
  }
  
  #hire_section .hire_input .submit_btn{
    width: 150px;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--lightColor);
    background-color: var(--colorOne);
    cursor: pointer;
  }
  
  #hire_section .hire_input .submit_btn:hover{
    box-shadow: var(--boxShadow);
  }
  
  #hire_section .hire_container span{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
  }
  /* hire section styles ended */