@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* global styles started */

:root{
  --colorOne: rgba(90, 30, 130, 1);
  --ColorTwo: rgba(255, 195, 255, 1);
  --colorThree: rgba(255, 88, 255, 1);
  --lightColor: rgba(255, 255, 255, 1);
  --boxShadow: 0 0 8px rgba(20, 20, 20, 0.4);
}

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Work Sans", sans-serif;
  color: var(--colorOne);
  width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}

h2{
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0px;
}

.btn{
  padding: 12px 15px;
  background-color: var(--lightColor);
  color: var(--colorOne);
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  box-shadow: var(--boxShadow);
  transition: 0.3s;
}

.btn:hover{
  background-color: var(--colorThree);
  color: var(--lightColor);
}

.paragraph{
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

/* global styles ended */

/* nav section styles started */
#nav{
    background-color: var(--colorOne);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #nav_container{
    width: 1300px;
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #nav_container #logo h3{
    color: var(--lightColor);
    font-size: 30px;
  }
  
  
  #nav_container #logo h3 span{
    font-style: italic;
    color: var(--colorThree);
  }
  
  #nav_container #main_menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #nav_container #main_menu ul li{
    padding: 10px;
    list-style: none;
  }
  
  #nav_container #main_menu ul li a{
      text-decoration: none;
      color: var(--lightColor);
      font-size: 18px;
      font-weight: 400;
      padding: 10px 15px;
      border-radius: 7px;
      box-shadow: var(--boxShadow);
      transition: 0.3s;
    }
    
    #nav_container #main_menu ul li a:hover{
        padding: 15px 25px;
        font-size: 18px;
        font-weight: 600;
        color: var(--colorOne);
        background-color: var(--colorThree);
    }
    
  #nav_container .resume_pdf button:hover{
    background-color: var(--colorThree);
    color: var(--lightColor);
  }
  /* nav section styles ended */